@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Raleway:wght@300&family=Roboto+Mono:ital,wght@1,300&display=swap');

/* General Styling */
body {
  font-family: 'Roboto+Mono', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #FFEBCD;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFEBCD;
}

h1, h2, h3 {
  font-family: 'Montserrat', serif;
  color: #333333;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}




/* Header Styling */
header {
  font-family: 'Montserrat', serif;
  font-size: 33px;
  font-weight: 888;
  padding-bottom : 1px;
  padding-top: 500;
  color: inherit;
  text-align: center;
}

sub-header {
      font-family: 'Montserrat', serif;
      font-size: 33px;
      padding-top: 5px;
      padding-bottom: 10px;
      font-size: 21px;
      font-weight: 500;
      text-align: center;
    }


header h1 {
  font-size: 36px;
  margin: 0;
}

/* Navigation Styling */
nav {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: #333333;
  font-size: 18px;
}

/* Section Styling */
.section {
  margin-bottom: 30px;
}

.section-title {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Button Styling */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #337ab7;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #23527c;
}

/* Colorful Styling */
.primary-color {
  color: #007bff;
}

.secondary-color {
  color: #6c757d;
}

.success-color {
  color: #28a745;
}

.info-color {
  color: #17a2b8;
}

.warning-color {
  color: #ffc107;
}

.danger-color {
  color: #dc3545;
}


.elegant-font {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: normal;
  color: #333333;
}

/* Responsive Styling */
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }
}
